# Day 1
## Data Types

In [1]:
# Data type Integer
my_int = 123
print(my_int)
print(type(my_int))

123
<class 'int'>

In [2]:
# EXER: Create one variable with data type integer, print the value * its data type
num = 7
print(num)
print(type(num))

7
<class 'int'>

In [3]:
# data type FLOAT
my_float = 133.22
print(my_float)
print(type(my_float))

133.22
<class 'float'>

In [4]:
# EXER: Create one variable wit hdata type float, print value and its type
pi = 3.4
print(pi)
print(type(pi))

3.4
<class 'float'>

In [8]:
# data type STRING
s_type1 = '''Apple'''
s_type2 = """Apple"""
s_type3 = 'Apple'
s_type4 = "Apple"
print(s_type1)
print(type(s_type1))
# EXER: PRINT the value and data type of s_types2 to s_type4

Apple
<class 'str'>

In [6]:
print(s_type2)
print(type(s_type2))
print(s_type3)
print(type(s_type3))
print(s_type4)
print(type(s_type4))

Apple
<class 'str'>
Apple
<class 'str'>
Apple
<class 'str'>

In [9]:
# extra: data type STRING
s_multiline = '''This is
multiline stiring'''
print(s_multiline)

This is
multiline stiring

In [12]:
# data type BOLEAN
bool1 = True
bool2 = False
print(bool1)
print(type(bool1))

True
<class 'bool'>

In [20]:
# EXER: Create one variable with dat atype BOOLEAN and print value and its type
healthy = True
print(healthy)
print(type(healthy))

True
<class 'bool'>

In [22]:
my_bool3 = (1 + 2 == 2 + 2)
print(my_bool3)
print(type(my_bool3))

False
<class 'bool'>

## Rules to create Identifiers
An **identifier** is a name given to entities like **class, functions, variables, etc**. <br>
Think of **identifier** as a label you put on a box.

<ol>
<li>**Identifier** can be combination of letters in lowecase (a to z) or uppercase (A to Z) or digits (0 t0 9) or na underscore '-'.</li>
<li>An identifier **CANNOT START WITH DIGIT** is invalid, but **variable1** is valid.</li>
<li>Python keywords cannot be uses as identifiers.</li>
</ol>

## Python Operators
Python has 2 kinds of operators:
- Aritmetic operators (**MATHS**)
- Comparison/Relational Operators (**BOOLEAN**)

# Arithmetic Operator

In [34]:
# Addition (+)
a = 5
b = 3
result = a + b
print(result)
# EXTRA
b += a
print(b)

8
8

In [33]:
# Substration (-)
a = 5
b = 23
result = a - b
print(result)
# EXTRA
b -= a;
print(result)

-18
-18

In [30]:
# Mutliplication (X)
a = 5
b = 23
result = a * b
print(result)

115

In [32]:
# Division (/)
a = 5
b = 23
result = a / b
print(result)

0.21739130434782608

In [35]:
# Division2 (//)
a = 4
b = 5
result = a // b
print(result)

0

In [36]:
# Modulus (%), the remainder of division
a  = 23
b = 7
result = a % b
print(result)

2

In [38]:
# Exponentiation (**)
a = 2
b = 5
result = a ** b
print(result)
b **= a
print(b)

32
25

In [45]:
# Samples of Arithmatic Operations
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))
result = a + b
print(result)

Enter 1st number:  2
Enter 2nd number:  2

4

In [50]:
# Handson Activity 1
# 1a: get the radius from user, calculate the area of a circle
# 1b: get the width and height from user, calculate the area of rectangle
# 1c: get the width and height from user, calculate the perimeter of rectangle
radius = int(input("Enter a radius: "))
circle_area = radius * 3.142 ** 2
print("Area of circle is " + str(circle_area))
width = int(input("Enter a rectangle width: "))
height = int(input("Enter a rectangle height: "))
rectangle_area = width * height
rectangle_perimeter = (2 * width) + (2 * height)
print("Rectangle area is " + str(rectangle_area) + " and its perimeter is " + str(rectangle_perimeter))

Enter a radius:  8

Area of circle is 78.977312

Enter a rectangle width:  5
Enter a rectangle height:  4

Rectangle area is 20 and its perimeter is 18

In [57]:
print("Please enter the following inputs to get the Compound Interest")
P = int(input("Enter initial principal balance:"))
r = float(input("Enter interest rate:"))
n = int(input("Enter number of times interest applied per year:"))
t = int(input("Enter time (years):"))
amount = P * (1 + (r / n)) ** (n * t)
print("The compound is " + str(amount))

Please enter the following inputs to get the Compound Interest

Enter initial principal balance: 100
Enter interest rate: 0.1
Enter number of times interest applied per year: 2
Enter time (years): 1

The compound is 110.25

## Comparison Operators

In [77]:
# LHS: Left Hand Side: Right Hand Side
print(2 > 3) # check if LHS more than RHS
print(2 >= 2) # check if LHS more than or equal RHS
print(2 < 2) # check if LHS less than RHS
print(2 <= 3) # check if LHS less than or equal RHS
print(2 == 2) # check if LHS is equal to RHS
print(2 != 3) # check if LHS is not equal to RHS

False
True
False
True
True
True

In [80]:
# EXER: Utilise all 6 comparison operatiosr, try to get the output of True for all of tehm
print(2 > 0) # check if LHS more than RHS
print(2 >= 2) # check if LHS more than or equal RHS
print(2 < 5) # check if LHS less than RHS
print(2 <= 3) # check if LHS less than or equal RHS
print(2 == 2) # check if LHS is equal to RHS
print(2 != 3) # check if LHS is not equal to RHS

True
True
True
True
True
True

## 2.3 Logical Operator
- **and**: Return TRUE if both statements (LHS, RHS) are true
- **or**: Return TRUE if one of the statements (LHS, RHS) are true
- **not**: Reverse the result, return FALSE if result is true

In [82]:
# Examples for AND (both LHS & RHS need to be True)
# Example 1
a = True
b = True
print(a and b) # Output: True
# Example 2
c = True
d = False
print(c and d) # False

True
False

In [83]:
# Examples for OR (Either LHS or RHS need to be True)
# Example 1
a = True
b = True
print(a or b) # Output: True
# Example 2
c = True
d = False
print(c or d) # False

True
True

In [90]:
# Examples for NOT (Inverse original boolean value)
# Example 1
a = True

print(not not not a) # Output: False

False

# 3. Control Flow Statement
3.1: Conditional Statements <br>
3.1.1: if  
3.1.2: if-else  
3.1.3: if-elif-else  
3.1.4: nested if-else  
3.2 Iterative Statement  
3.2.1: for  
3.2.2: while  
3.3: Transfer statement  
3.3.1: break
3.3.2: continue  
3.3.3: pass

In [92]:
# if
age = 17
if age >= 18:
    print("ADULT")

NOT ADULT

In [95]:
# EXER: get the score from user, print D if the score is < 50
i = int(input("Enter a number: "))
if i < 50:
    print("D")

Enter a number:  8

D

In [97]:
# if-else
age = 17
if age >= 18:
    print("ADULT")
else:
    print("CHILD")

CHILD

In [99]:
# EXER: get the score from user, print pass if the score is >= 50, otherwise fail
i = int(input("Enter a score: "))
if i < 50:
    print("Fail")
else:
    print("Pass");

Enter a score:  99

Pass

In [104]:
# 3.1.1 if-leif-else
age = 19
if age >= 18:
    print("Adult")
elif age >= 13 and age < 18:
    print("teen")
else:
    print("child")

Adult

In [106]:
# EXER: get score from user
# fail is < 50, C between 50 - 64, B between 65 and 74 and A between 75 to 80
score = int(input("Enter a score: "))
if score < 50:
    print("Fail");
elif score >= 50 and score < 65:
    print ("C")
elif score >= 65 and score < 75:
    print("B")
elif score >= 75 and score <= 80:
    print("A-")
else:
    print("A")

Enter a score:  87

A

In [109]:
# 3.1.4 Nested if-else
num1 = -1
if(num1 != 0):
    if(num1 > 0):
        print("num1 is positive number")
    else:
        print("num1 is negative number")
else:
    print("number is not + or -")

num1 is negative number

In [111]:
# EXER: get float from user, using nested if-else
# determine wheter the number is zero ir positive or negatvie
num1 = float(input("Enter a floting point number"))
if(num1 != 0):
    if(num1 > 0):
        print("num1 is positive number")
    else:
        print("num1 is negative number")
else:
    print("number is not + or -")

Enter a floting point number 0.00

number is not + or -

In [113]:
# 3.2.1 FOR loop
# Example 1
grades = ["D", "C", "B", "A"]
for grade in grades:
    print (grade)

D
C
B
A

In [115]:
# Example 3.2.1b
ages = [7, 9, 11, 13, 15]
for age in ages:
    print(age)

7
9
11
13
15

In [117]:
# Exercise Find 10 prime numbers, store them in a list, then print them out suing for-loop
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 31]
for prime in primes:
    print(prime)

2
3
5
7
11
13
17
19
23
31

In [142]:
# Find 15 numbers from fibonacci sequence
# Idemtofu amy number that is even the it it out
n = 10
num1 = 0
num2 = 1
next_number = num2  
count = 0

for f in range(0, 100):
    # print (f)
    # print(next_number, end=" ")
    num1, num2 = num2, next_number
    next_number = num1 + num2
    if(next_number % 2 == 0):
        count += 1
        print(next_number)
        if(count == 15):
            break

2
8
34
144
610
2584
10946
46368
196418
832040
3524578
14930352
63245986
267914296
1134903170

In [143]:
# EXER: User 2 variables to store your company and position. Then print them together
name = str(input("Your company name: "))
position = str(input("Your position: "))
print(name + " " + position)

Your company name:  CIAST
Your position:  LECTURE

CIAST LECTURE

In [3]:
x = int(input("Enter a number: "))
sign = '-' if x < 0 else ('+' if x > 0 else 'Zero')
print(sign)

Enter a number:  -4

-

In [5]:
# 3.2.1 FOR Loop
# Example 3.2.1b
# Example with range
for i in range(5):
    print(i)
for j in range(1, 8, 2):
    print(j)

0
1
2
3
4
1
3
5
7

In [15]:
# Exercise: Calculate sum of even numbers from 0 to 100 (inclusive of 100). Use range() & FOR loop
total = 0
for num in range(0, 101, 2):
    print(num, end=' ')
    total = total + num
print("\nTotal: " + str(total))

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
Total: 2550

In [18]:
# 3.2.1 FOR Loop
# Example 3.2.1c ENUMERATE()
# Example with range
fruits = ['durian', 'rambuan', 'manggis']
for index, fruit in enumerate(fruits):
    print(index, fruit)
# Sample: access the value of rambutan
print(fruits[1])
# Exer: access to print out the value of manggis
print(fruits[2])

0 durian
1 rambuan
2 manggis
rambuan
manggis

In [20]:
# 3.2.2 WHILE LOOP
# Example: Basic while loop
count = 0
while count < 5: # check if leff than 5 every loop
    print(count)
    count += 1

0
1
2
3
4

In [27]:
# Exer: print out even numbers from 4 to 10 using while loop only
num = 4
while num <= 10:
    print(num)
    num += 2

4
6
8
10