## 2. Accessing elements

In [50]:
travel = ['Penang', 'Melaka', 'France', 'Spain', 'Itali']
travel_first2 = travel[0:2]
print(travel_first2)

['Penang', 'Melaka']

# Python List
4. Common methods we can use for python list
   - `append()`: Adds an element to the end of list
   - `extend()`: Adds multiple elements to the end of list
   - `insert()`: Inserts an element to to a specified position
   - `remove()`: remove the first occurance of a specified value
   - `pop()`: remove last element
   - `clear()`: Empty the list
   - `index()`: Return the index of the first occurance of a specified value
   - `count()`: Return the  total occurance of a value
   - `sort()`: Sort the list in ascending / descending
   - `reverse()`: Reverse the order of the list

In [1]:
# clear()
numbers = [1, 2, 3]
print(numbers)
numbers.clear()
print(numbers)

[1, 2, 3]
[]

In [2]:
numbers.append(8)

In [5]:
# count()
print(numbers)
print(numbers.count(8))

[8]
1

In [6]:
# sort()
fruits = ['durian', 'manggis', 'apple']
print(fruits)
fruits.sort()
print(fruits)

['durian', 'manggis', 'apple']
['apple', 'durian', 'manggis']

In [7]:
# reverse()
fruits = ['durian', 'manggis', 'apple']
print(fruits)
fruits.reverse()
print(fruits)

['durian', 'manggis', 'apple']
['apple', 'manggis', 'durian']

## 5. Lists can be created using list comprehensions for concise and readable code

In [8]:
# Basic Comprehension
squares = [x ** 2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
# Exer: User comprehension + python list, generate a list of squared even numbers
squares = [x ** 2 for x in range(10)]
new_list = []
for square in squares:
    if(square % 2 == 0):
        new_list.append(square)
print(new_list)
# OE
square_even = [x ** 2 for x in range(2, 11, 2)]
print(square_even)

[0, 4, 16, 36, 64]
[4, 16, 36, 64, 100]

In [19]:
# Comprehension with condition
# Generate a list of sqaured odd numbers (unitl 10)
square_odd = [x ** 2 for x in range(2, 11) if x % 2 != 0]
print(square_odd)

[9, 25, 49, 81]

In [65]:
# Exercise: Create a list of 15 Fibonacci numbers
# Use comprehnsion with condition, calculate squared of even fibonaci numbers
# fibo = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]
fibo = [0, 1]
for x in range(0, 17):
    fibo.append(fibo[x] + fibo[x + 1])
print(fibo)
square_fibo = [x ** 2 for x in fibo if x % 2 == 0]
print(square_fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584]
[0, 4, 64, 1156, 20736, 372100, 6677056]

## 6. List can contain other list, allowing for nulti-dimensional arrays

In [27]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
]
print(matrix[0][1])

2

In [30]:
# Exercise: print the value of 9 and 5
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
]
print(matrix[2][2])
print(matrix[1][1])

9
5

Exercise for Python List
Part 1: Basic
1. Create a list called 'numbers' that contains integers from 1 to 20
2. Access the 5 th element in the list and print it
3. Slide the list to create new list 'frst-half' that contains the first 10 elements
4. Append the number 21 to the 'numbers' list
5. Insert the number 0 at the beginning of the 'numbers' list
6. Remove the number 15 from the 'numbers' list
7. Pop and print the last element from 'numbers' list
8. Count how many times the number 10 appears in 'numbers' list

Part 2: Advanced Operation <br>
9. Sort the list in desending order <br>
10. Reverse order <br>
11. use list comprehension to crate new list that contains the squares of all elements in numbers <br>
12. Filter the list using list comprehension to crate new list 'even_squares' that contains only the squares of the even numbers from 'numbers' <br>

In [67]:
numbers = []
for x in range(1, 21):
    numbers.append(x)
print(numbers)
print("The 5th element is " + str(numbers[4]))
first_half = numbers[0:10]
print(first_half)
numbers.append(21)
print(numbers)
numbers.insert(0, 0)
print(numbers)
numbers.remove(15)
print(numbers)
print(numbers.pop())
print(numbers.count(10))
print("///// ADVNACED PART //////")
numbers.sort(reverse = True)
print(numbers)
numbers.reverse()
print(numbers)
square_numbers = [x ** 2 for x in numbers]
print(square_numbers)
even_squares = [x ** 2 for x in numbers if x % 2 == 0]
print(even_squares)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
The 5th element is 5
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21]
21
1
///// ADVNACED PART //////
[20, 19, 18, 17, 16, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 256, 289, 324, 361, 400]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

### Exercises for Python List
Part 3: Nested lists
13. Create a nested list `matrix` with the following structure:
```
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
]
```
14. Access and print the element in the second row and third row of the matrix
15. Add new row `[10, 11, 12]` to the matrix

In [5]:
s = 0
t = [[s in range(3)]*3 for i in range(3)]
print(t)
# print(j)

[[True, True, True], [True, True, True], [True, True, True]]

In [85]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
]
print(matrix[1][2])
matrix.append([10, 11, 12])
print(matrix)

6
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [123]:
# Empty dictionary
empty_dict = {}
# Dictionary with initial key-value pairs
person = {
    'name' : 'John',
    'age' : 34,
    'country' : 'USA'
}
print(person)
print(person.get('age'))
print(person.get('wie'))

{'name': 'John', 'age': 34, 'country': 'USA'}
34
None

In [110]:
# Exercise: Create a dictionary of 3 country name and its corresponding phone coutry codes
country_code = {
    'My' : '60',
    'Sg' : '61',
    'Id' : '62',
    'My' : '88'
}
print(country_code)

{'My': '88', 'Sg': '61', 'Id': '62'}

## 3.0 Modifying Dictionaries
1. Dictionaries are mutable, allowing for adding, changing and removing key-value pairs.

In [7]:
# Changing a value
person = {
    'name' : 'John',
    'age' : 34,
    'country' : 'USA'
}
person['age'] = 31
print(person)

{'name': 'John', 'age': 31, 'country': 'USA'}

In [8]:
# Ex: change country from USA to Saudi Arab the print it
person['country'] = 'Saudi Arab'
print(person)

{'name': 'John', 'age': 31, 'country': 'Saudi Arab'}

In [18]:
# Add Key value
person['wins'] = 56
person['email'] = 'x@x.my'
print(person)

{'name': 'John', 'age': 31, 'country': 'Saudi Arab', 'wins': 56, 'email': 'x@x.my'}

In [19]:
# Remove method 1
del person['email']
print(person)
# Remove method 2
age = person.pop('age')
print(age)
print(person)

{'name': 'John', 'age': 31, 'country': 'Saudi Arab', 'wins': 56}
31
{'name': 'John', 'country': 'Saudi Arab', 'wins': 56}

### 4. Common Methods
- `keys()`: return a view object of all keys
- `values`: Return a view object of all values
- `items()`: Return a view object of all key-value in the dictionary
- `get()`: Return the value for a specified key if the key is in the dictionary
- `update()`: Update the dictionary with specified -key-value pair
- `pop()`: Remove the specified key and return the value
- `popitem()`: 
- `clear()`:
- `copy()`:

In [20]:
# keys
keys = person.keys()
print(keys)

dict_keys(['name', 'country', 'wins'])

In [22]:
# values
values = person.values()
print(values)

dict_values(['John', 'Saudi Arab', 56])

In [23]:
# items
items = person.items()
print(items)

dict_items([('name', 'John'), ('country', 'Saudi Arab'), ('wins', 56)])

In [27]:
# update(): use to inser value, not change value
# Exer: use pdate(), insert total loss and total KOs for muhammad ali
person.update({'name': 'Muhammad Ali', 'total_loss': 3, 'KOs': 4})
print(person)

{'name': 'Muhammad Ali', 'country': 'Saudi Arab', 'wins': 56, 'total_loss': 3, 'KOs': 4}

# 5. Dictionary Comprensions
comprehensions: dictionaries can be creatd using dictionary comprehensions for concise and readable code

In [29]:
# Creating a dictionary using comprehensions
# Expected Output: key is number, value is square(number) from 1 to 6
# key is 1, value is1
# key is 2, value is 4 ... until key is 6
# Step1: use for range to generate 1 to 6
for x in range(1, 7):
    print(x)

1
2
3
4
5
6

In [30]:
squares = {x: x ** 2 for x in range(1, 7)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [45]:
# Hand-on Activity 3
# Create a list of 10 prime numbers and use dictionary comprehension to map each prime number to its square
# Expected output
primes = [x for x in range(2, 100) if not [t for t in range(2, x) if not x % t ]][:10]
# primes = primes[:10]
prime_dic = {prime: prime ** 2 for prime in primes}
print(primes)
print(prime_dic)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
{2: 4, 3: 9, 5: 25, 7: 49, 11: 121, 13: 169, 17: 289, 19: 361, 23: 529, 29: 841}

In [43]:
# Hands-on Activity
# Create a list of fisrt 10 Catalan Numbers (from google)
# use comprehensions to filter out even number from the list (refer notes)
catalans = [1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862]
even_catalans = [x for x in catalans if x % 2 == 0]
print(even_catalans)

[2, 14, 42, 132, 1430, 4862]

In [52]:
# Hands on activity
# Create a contact directory of your favourite top 3 universities using python dictionary
# key: uni name, year: year of establishment, country: country name
universities = []
universities.append({'name': 'UTM', 'year': 1978, 'country': 'MY'})
universities.append({'name': 'Oxford', 'year': 1758, 'country': 'UK'})
universities.append({'name': 'MIT', 'year': 1878, 'country': 'US'})
# print(universities)
for u in universities:
    print(u)

{'name': 'UTM', 'year': 1978, 'country': 'MY'}
{'name': 'Oxford', 'year': 1758, 'country': 'UK'}
{'name': 'MIT', 'year': 1878, 'country': 'US'}

In [57]:
# Nested dictionary
students = {
    'ali': {'age': 16, 'city': 'Melaka'},
    'john': {'age': 45, 'city': 'Moscow'}
}
print(students)
print(students['john']['city'])
print(students['ali']['age'])

{'ali': {'age': 16, 'city': 'Melaka'}, 'john': {'age': 45, 'city': 'Moscow'}}
Moscow
16

In [58]:
# Adding new student
students['Lee'] = {'age': 33, 'city': 'Ulan Bator'}
print(students)

{'ali': {'age': 16, 'city': 'Melaka'}, 'john': {'age': 45, 'city': 'Moscow'}, 'Lee': {'age': 33, 'city': 'Ulan Bator'}}

## 3.0 Python Tuples
Desc: Tuples are ordered and immutable collections
1. Creation: Tuples are created using parenthesis () or the tuple() function.

In [59]:
# Empty tuple
empty_tuple = ()
# Tupe with initial elements
coor = (4,5)
color = ('red', 'green', 'yellow')
print(color)
print(coor)

('red', 'green', 'yellow')
(4, 5)

## 4.0 Python Sets
Description: Sets contain unique elements supports maths operations like union and interction with comprehension, unordered, mutable. Use for membership tests and set operations (union etc). **cannot access element like we do in List, Dictionary, Tuple**
1. Creation: Sets are created using curly braces {} or the set {} function. Sets are unordered collections of unique elements.

In [1]:
# Empty set
empty_set = set()

# Set with initial elements

In [2]:
# Using set() function
numbers = set([1, 2, 3, 4, 5]) # package
print(numbers)

{1, 2, 3, 4, 5}

In [4]:
# Sets contailn uniqe elements, but what does it mean by "unique elements"
# task: Create a set of numbers (1,2,2,2,3,4,5) then print it out
# What do you set ?
sets_unique = {1,2,2,2,3,4,5}
print(sets_unique)

{1, 2, 3, 4, 5}

## 4.0: Python Sets
3. Modifying sets (Mutable); Sets are mutable, allowing for adding, removing and updating elements

In [17]:
# Adding a single element'
fruits = {'apple', 'banana'}
fruits.add("durian")
print(fruits)

{'durian', 'banana', 'apple'}

In [8]:
# Adding multiple elements
fruits.update(['ciku', 'mata kucing'])
print(fruits)

{'durian', 'ciku', 'mata kucing', 'banana', 'apple'}

In [18]:
# remove element
# use discard to remove without error if element does not exist
fruits.remove('durian')
fruits.discard('durian')
print(fruits)

{'banana', 'apple'}

In [19]:
# Pop
removed = fruits.pop()
print(removed)
print(fruits)

banana
{'apple'}

### Python Sets
4. Common Methods
- `add()`: Add an element
- `update()`: Add multiple element
- `remove()`: Remove the specified element
- `discard()`: Remove the specified element
- `pop()`: Remove and return element
- `clear()`: Remove all
- `copy()`: Return a copy of the set
- `union()`: Return a set containing all elements
- `intersection()'`: Return match both set
- `difference()`:
- `symmetric_difference()`: Return a set containing elements found in either set but not in both

# 4.0 Python Sets
1. Set can be created using set comprehansions for concise and readable code

In [22]:
# Exer: create a SET using COMPREHENSION containing even number from 1 and 6
even_set = {x for x in  range(1, 7) if x % 2 == 0}
print(even_set)

{2, 4, 6}